langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-classic
python-dotenv
streamlit
ollama
langserve
fastapi
uvicorn
sse-starlette
beautifulsoup4
pypdf
chromadb
sentence-transformers
requests
